ApacheCXFWebService/WebContent/wsdl/MyServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.java.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.java.com" xmlns:intf="http://service.java.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.java.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="add">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="init">
    <complexType/>
   </element>
   <element name="initResponse">
    <complexType/>
   </element>
   <element name="destroy">
    <complexType/>
   </element>
   <element name="destroyResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="initResponse">

      <wsdl:part element="impl:initResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="destroyResponse">

      <wsdl:part element="impl:destroyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="initRequest">

      <wsdl:part element="impl:init" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="destroyRequest">

      <wsdl:part element="impl:destroy" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MyServiceImpl">

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest">

       </wsdl:input>

         <wsdl:output message="impl:addResponse" name="addResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="init">

         <wsdl:input message="impl:initRequest" name="initRequest">

       </wsdl:input>

         <wsdl:output message="impl:initResponse" name="initResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="destroy">

         <wsdl:input message="impl:destroyRequest" name="destroyRequest">

       </wsdl:input>

         <wsdl:output message="impl:destroyResponse" name="destroyResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MyServiceImplSoapBinding" type="impl:MyServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="init">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="initRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="initResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="destroy">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="destroyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="destroyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MyServiceImplService">

      <wsdl:port binding="impl:MyServiceImplSoapBinding" name="MyServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/ApacheCXFWebService/services/MyServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
